 {% load static %}
<!doctype html>
<html>

<head>
<title>Django ChatterBot Example</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body>

	{% include 'nav.html' %}

	<div class="container">

		<div class="jumbotron mt-1">
			<h1 class="jumbotron-heading text-xs-center">MediBot Wishes you
				Happy 2021 !</h1>
			<p class="lead text-xs-center">Merry Christmas and Happy New
				Year! Stay Safe in 2021. Click Chat Bot and Teach it about Covid 19
				Treatment, Social Innovation and Social Awareness.</p>

			<p class="lead text-xs-center">
				<b>No Bad Words Please</b> but <b>positive</b> quotes only as it
				will share to others
			</p>

			<p class="lead text-xs-center">
				<b>Challenge the BOT with "Simple English" Profane words, see
					what happen. It's still a baby BOT anyway.. More AI Features coming soon! 
			</p>
			<hr class="my-2">

			<div class="row">
				<div class="col-xs-6 offset-xs-3">
					<ul class="list-group chat-log js-chat-log">
					</ul>

					<div class="input-group input-group-lg mt-1">
						<input type="text" class="form-control js-text"
							placeholder="Type something to begin..." /> <span
							class="input-group-btn">
							<button class="btn btn-primary js-say">Submit</button>
						</span>
					</div>

				</div>
			</div>

			<p class="lead text-xs-center">
				<a class="lead text-xs-center"
					href="https://pcyuen99.wixsite.com/wnixtutor"> <img
					src="{% static 'img/ic_launcher.png' %}" width="400" height="400"
					alt="ChatterBot">
				</a>
			</p>
			<p class="lead text-xs-center">
				<b>Click Baby Monkey Above For More Info</b>
			</p>

			<div>
				<p class="lead text-xs-center">
					<a class="lead text-xs-center"
						href="https://wa.link/omqxdf"><img
						src="{% static 'img/complaint.jpg' %}" width="200" height="200"
						
						alt="ChatterBot">
					</a>
				</p>
			
			</div>
		</div>

	</div>

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/js.cookie.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
		var chatterbotUrl = '{% url "chatterbot" %}';
		var csrftoken = Cookies.get('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend : function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		var $chatlog = $('.js-chat-log');
		var $input = $('.js-text');
		var $sayButton = $('.js-say');

		function createRow(text) {
			var $row = $('<li class="list-group-item"></li>');

			$row.text(text);
			$chatlog.append($row);
		}

		function submitInput() {
			var inputData = {
				'text' : $input.val()
			}

			// Display the user's input on the web page
			createRow(inputData.text);

			var $submit = $.ajax({
				type : 'POST',
				url : chatterbotUrl,
				data : JSON.stringify(inputData),
				contentType : 'application/json'
			});

			$submit.done(function(statement) {
				createRow(statement.text);

				// Clear the input field
				$input.val('');

				// Scroll to the bottom of the chat interface
				$chatlog[0].scrollTop = $chatlog[0].scrollHeight;
			});

			$submit.fail(function() {
				// TODO: Handle errors
			});
		}

		$sayButton.click(function() {
			submitInput();
		});

		$input.keydown(function(event) {
			// Submit the input when the enter button is pressed
			if (event.keyCode == 13) {
				submitInput();
			}
		});
	</script>
</body>
</html>
